option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: portfolio_backend.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: portfolio_backend.settings_production
    PYTHONPATH: /var/app/current/portfolio_backend
  aws:elasticbeanstalk:container:python:environment:
    DJANGO_SETTINGS_MODULE: portfolio_backend.settings_production

container_commands:
  01_migrate:
    command: "cd portfolio_backend && python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "cd portfolio_backend && python manage.py collectstatic --noinput"
    leader_only: true
  03_createsu:
    command: "cd portfolio_backend && python manage.py shell -c \"from django.contrib.auth.models import User; User.objects.filter(username='admin').exists() or User.objects.create_superuser('admin', 'admin@example.com', 'admin123')\""
    leader_only: true